APP_NAME="Travel Planner API"
ENVIRONMENT=local
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/travel_planner
DATABASE_ECHO=false
ART_API_BASE_URL=https://api.artic.edu/api/v1
ART_API_TIMEOUT_SECONDS=5
